#[fan_generic Aux_Fan] 
#pin: PA0
#max_power: 1.0
#shutdown_speed: 0
##cycle_time:
##hardware_pwm:
#kick_start_time: 0.2
#off_below: 0.10
#tachometer_pin: PA1
##tachometer_ppr:
##tachometer_poll_interval:
#enable_pin: PA14

[fan_generic Exhaust_fan]
pin: PA4
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.2
off_below: 0.10